language: php

php:
    - '5.6'
    - '7.0'
    - '7.1'
    - '7.2'
    - '7.3'

before_install: composer install

script: ./vendor/bin/phpunit --configuration test/unit --coverage-clover coverage.xml

after_success:
    - 'bash <(curl --silent https://codecov.io/bash)'
