<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
    bootstrap="./bootstrap.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Unit test suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../../src</directory>
            <exclude>
                <directory>.</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
